@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin tablet {
  @media (width <= 768px) {
    @content;
  }
}
@mixin mobileL {
  @media (width <= 425px) {
    @content;
  }
}
@mixin mobileS {
  @media (width <= 380px) {
    @content;
  }
}
