@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
}
header .container {
  height: 12.936610608vh;
  background-color: rgb(249, 234, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container input[type=checkbox] {
  display: none;
}
header .container input:checked ~ ul {
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 7px;
  font-size: 12px;
}
@media (width <= 380px) {
  header .container input:checked ~ ul {
    transition: 0.5s;
    transform: translateY(90px);
    width: 100%;
  }
}
header .container .bar {
  display: none;
}
@media (width <= 380px) {
  header .container .bar {
    display: block;
  }
}
header .container .bar .fa-solid {
  font-size: 40px;
}
header .container img {
  width: 23.125vw;
  height: 12.2897800776vh;
  gap: 90px;
}
@media (width <= 768px) {
  header .container img {
    margin-left: 15px;
    width: 20vw;
    height: 10vh;
  }
}
@media (width <= 425px) {
  header .container img {
    margin-left: 5px;
    width: 30vw;
    height: 9vh;
  }
}
@media (width <= 380px) {
  header .container img {
    width: 200px;
  }
}
header .container ul {
  display: flex;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  align-items: center;
}
@media (width <= 768px) {
  header .container ul {
    font-size: 17px;
  }
}
@media (width <= 425px) {
  header .container ul {
    font-size: 11px;
    justify-content: space-around;
  }
}
@media (width <= 380px) {
  header .container ul {
    display: none;
    position: absolute;
    background-color: rgb(249, 234, 219);
    justify-content: end;
    align-items: self-end;
    transition: 0.5s;
  }
}
header .container ul .link {
  margin-right: 45px;
  font-family: Kalnia;
}
@media (width <= 768px) {
  header .container ul .link {
    margin-right: 20px;
  }
}
@media (width <= 425px) {
  header .container ul .link {
    margin-right: 10px;
  }
}
@media (width <= 380px) {
  header .container ul .link {
    font-size: 20px;
  }
}
header .container ul .link a {
  color: rgba(11, 37, 56, 0.8);
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
}
header .container ul .link a::after {
  content: "";
  position: absolute;
  height: 0.2587322122vh;
  width: 0px;
  bottom: 0;
  left: 0;
  background-color: rgba(11, 37, 56, 0.8);
  transition: all 0.3s ease;
}
header .container ul .link a:hover::after {
  width: 70%;
}
header .container i {
  margin-right: 96px;
  font-size: 25px;
  color: rgba(11, 37, 56, 0.8);
}
@media (width <= 425px) {
  header .container i {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (width <= 380px) {
  header .container i {
    font-size: 25px;
    margin-bottom: 5px;
  }
}

.story {
  width: 100%;
  height: 79.5601552393vh;
  background-image: url(photos/history.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (width <= 768px) {
  .story {
    background-position: center;
  }
}
@media (width <= 425px) {
  .story {
    background-position: top;
  }
}
@media (width <= 380px) {
  .story {
    background-position: top;
  }
}
.story h2 {
  color: #fff;
  text-align: center;
  font-family: kalnia;
  font-size: 70px;
  font-weight: 700;
}
@media (width <= 380px) {
  .story h2 {
    font-size: 58px;
  }
}

.textline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textline .rightline {
  width: 15.8125vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-left: 13px;
}
.textline .leftline {
  width: 15.8125vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-right: 13px;
}
.textline h2 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 36px;
  margin-top: 98px;
  font-weight: 400;
  margin-bottom: 102px;
}

.history {
  width: 100%;
  height: 90.5562742561vh;
  background-image: url(photos/tbilisi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 191px;
}
.history h2 {
  color: #fff;
  font-family: kalnia;
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 30px;
}
@media (width <= 768px) {
  .history h2 {
    font-size: 50px;
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }
}
@media (width <= 425px) {
  .history h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }
}
@media (width <= 380px) {
  .history h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 0px;
  }
}
.history span {
  color: rgb(195, 157, 145);
}
.history p {
  color: #fff;
  text-align: center;
  font-family: kalnia;
  font-size: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 35px;
}
@media (width <= 768px) {
  .history p {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 23px;
  }
}
@media (width <= 425px) {
  .history p {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
  }
}
@media (width <= 380px) {
  .history p {
    font-size: 16px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 15px;
  }
}

footer {
  width: 100%;
  height: 42.3027166882vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
}
@media (width <= 425px) {
  footer {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
footer .left {
  padding-left: 35px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
}
@media (width <= 425px) {
  footer .left {
    padding-left: 0px;
    padding-top: 20px;
    align-items: center;
  }
}
footer .left img {
  width: 20.1875vw;
  height: 13.4540750323vh;
}
@media (width <= 425px) {
  footer .left img {
    width: 200px;
  }
}
footer .left a {
  text-decoration: none;
  display: flex;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
footer .left .loc {
  display: flex;
  margin-top: 39px;
}
footer .left .loc i {
  margin-right: 14px;
}
footer .left .loc h2 {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
}
footer .help {
  margin-top: 61px;
  margin-left: 278px;
}
@media (width <= 768px) {
  footer .help {
    margin-left: 50px;
    padding-left: 0px;
  }
}
@media (width <= 425px) {
  footer .help {
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .help img {
  width: 20.1875vw;
  height: 14.8771021992vh;
  margin-top: 10px;
  margin-left: -10px;
}
@media (width <= 768px) {
  footer .help img {
    width: 200px;
  }
}
@media (width <= 425px) {
  footer .help img {
    width: 200px;
  }
}
footer .help h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (width <= 425px) {
  footer .help h2 {
    display: flex;
    justify-content: center;
  }
}
footer .help .helpline {
  width: 10.8126875vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-bottom: 23px;
}
@media (width <= 425px) {
  footer .help .helpline {
    margin-left: 73px;
  }
}
footer .help ul li {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (width <= 425px) {
  footer .help ul li {
    display: flex;
    justify-content: center;
  }
}
footer .contact {
  margin-top: 61px;
  margin-left: 140px;
}
@media (width <= 768px) {
  footer .contact {
    margin-left: 30px;
  }
}
@media (width <= 425px) {
  footer .contact {
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .contact h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (width <= 425px) {
  footer .contact h2 {
    display: flex;
    justify-content: center;
  }
}
footer .contact .line {
  width: 10.8126875vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-bottom: 23px;
}
@media (width <= 425px) {
  footer .contact .line {
    display: flex;
    margin-left: 23px;
  }
}
footer .contact a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
@media (width <= 425px) {
  footer .contact a {
    display: flex;
    align-items: center;
  }
}
footer .icons {
  margin-top: 47px;
  margin-left: 54px;
}
@media (width <= 768px) {
  footer .icons {
    margin-left: 20px;
  }
}
@media (width <= 425px) {
  footer .icons {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .icons a i {
  font-size: 30px;
  color: #000;
  margin-left: 26px;
}
@media (width <= 425px) {
  footer .icons a i {
    margin-left: 11px;
  }
}

/*# sourceMappingURL=story.css.map */
