@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
}
header .container {
  height: 100px;
  background-color: rgb(249, 234, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 370px;
  height: 95px;
  margin-left: 90px;
}
header .container ul {
  display: flex;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}
header .container ul .link {
  margin-right: 45px;
  font-family: Kalnia;
}
header .container ul .link a {
  color: rgba(11, 37, 56, 0.8);
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
}
header .container ul .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 0;
  left: 0;
  background-color: rgba(11, 37, 56, 0.8);
  transition: all 0.3s ease;
}
header .container ul .link a:hover::after {
  width: 70%;
}
header .container i {
  margin-right: 96px;
  font-size: 25px;
  color: rgba(11, 37, 56, 0.8);
}

.story {
  padding-top: 100px;
  width: 100%;
  height: 615px;
  background-image: url(photos/history.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.story h2 {
  color: #fff;
  text-align: center;
  font-family: kalnia;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 193px;
}

.textline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textline .rightline {
  width: 253px;
  height: 1px;
  background-color: #000;
  margin-left: 13px;
}
.textline .leftline {
  width: 253px;
  height: 1px;
  background-color: #000;
  margin-right: 13px;
}
.textline h2 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 36px;
  margin-top: 98px;
  font-weight: 400;
  margin-bottom: 102px;
}

.history {
  width: 100%;
  height: 700px;
  background-image: url(photos/tbilisi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.history h2 {
  color: #fff;
  font-family: kalnia;
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 30px;
}
.history span {
  color: rgb(195, 157, 145);
}
.history p {
  color: #fff;
  text-align: center;
  font-family: kalnia;
  font-size: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 35px;
}

footer {
  width: 100%;
  height: 327px;
  background-color: #e4e4e4;
  display: flex;
}
footer .left {
  padding-left: 35px;
  padding-top: 17px;
}
footer .left a {
  text-decoration: none;
}
footer .left img {
  width: 323px;
  height: 104px;
}
footer .left ul {
  margin-top: 44px;
}
footer .left ul li {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
footer .left .loc {
  display: flex;
  margin-top: 29px;
}
footer .left .loc i {
  margin-right: 14px;
}
footer .left .loc h2 {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
}
footer .help {
  margin-top: 61px;
  margin-left: 278px;
}
footer .help img {
  width: 323px;
  height: 115px;
  margin-top: 10px;
  margin-left: -10px;
}
footer .help h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .help .helpline {
  width: 173.003px;
  height: 1px;
  background-color: #000;
  margin-bottom: 23px;
}
footer .help ul li {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
footer .contact {
  margin-top: 61px;
  margin-left: 140px;
}
footer .contact h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .contact .line {
  width: 173.003px;
  height: 1px;
  background-color: #000;
  margin-bottom: 23px;
}
footer .contact ul {
  display: flex;
  flex-direction: column;
}
footer .contact ul a {
  text-decoration: none;
}
footer .contact ul a li {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
footer .icons {
  margin-top: 47px;
  margin-left: 54px;
}
footer .icons a i {
  font-size: 30px;
  color: #000;
  margin-left: 26px;
}

/*# sourceMappingURL=story.css.map */
