@use "../main/index.scss" as *;
@use "../sign/_mixin.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
  .container {
    height: 100px;
    background-color: rgb(249, 234, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 370px;
      height: 95px;
      margin-left: 90px;
    }
    ul {
      display: flex;
      color: #000;
      font-size: 25px;
      font-weight: 400;

      .link {
        margin-right: 45px;
        font-family: Kalnia;
        a {
          color: $darkblue;
          text-decoration: none;
          position: relative;
          padding-bottom: 0.75rem;
        }
        a::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 0px;
          bottom: 0;
          left: 0;
          background-color: $darkblue;
          transition: all 0.3s ease;
        }
        a:hover::after {
          width: 70%;
        }
      }
    }
    i {
      margin-right: 96px;
      font-size: 25px;
      color: $darkblue;
    }
  }
}

.Restaurants {
  padding-top: 100px;
  width: 100%;
  height: 615px;
  background-image: url(photos/restaurants.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  h2 {
    color: #fff;
    text-align: center;
    font-family: kalnia;
    font-size: 70px;
    font-weight: 700;
    padding-top: 193px;
  }
}
section {
  .textline {
    @include flex;
    .rightline {
      width: 253px;
      height: 1px;
      background-color: #000;
      margin-left: 13px;
    }
    .leftline {
      width: 253px;
      height: 1px;
      background-color: #000;
      margin-right: 13px;
    }
    h2 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 36px;
      margin-top: 98px;
      font-weight: 400;
      margin-bottom: 102px;
    }
  }
  .top {
    display: flex;
    justify-content: center;
    gap: 45px;
    img {
      width: 324px;
      height: 324px;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 24px;
    }
    button {
      width: 324px;
      height: 68px;
      border-radius: 20px;
      background: #24253c;
      border: 0;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .middle {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 205px;
    img {
      width: 324px;
      height: 324px;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 24px;
    }
    button {
      width: 324px;
      height: 68px;
      border-radius: 20px;
      background: #24253c;
      border: 0;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 205px;
    img {
      width: 324px;
      height: 324px;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 24px;
    }
    button {
      width: 324px;
      height: 68px;
      border-radius: 20px;
      background: #24253c;
      border: 0;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .cube {
    display: flex;
    justify-content: center;
    margin-top: 134px;
    gap: 8px;
    margin-bottom: 190px;
    .cube1 {
      width: 40px;
      height: 40px;
      background-color: #d9d9d9;
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .cube2 {
      width: 40px;
      height: 40px;
      background: rgba(217, 217, 217, 0.5);
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .cube3 {
      width: 40px;
      height: 40px;
      background: rgba(217, 217, 217, 0.5);
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
footer {
  width: 100%;
  height: 327px;
  background-color: #e4e4e4;
  display: flex;
  .left {
    padding-left: 35px;
    padding-top: 17px;
    a {
      text-decoration: none;
    }
    img {
      width: 323px;
      height: 104px;
    }
    ul {
      margin-top: 44px;
      li {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        font-weight: 400;
        margin-top: 17px;
        cursor: pointer;
      }
    }
    .loc {
      display: flex;
      margin-top: 29px;
      i {
        margin-right: 14px;
      }
      h2 {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .help {
    margin-top: 61px;
    margin-left: 278px;

    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .helpline {
      width: 173.003px;
      height: 1px;
      background-color: #000;
      margin-bottom: 23px;
    }
    ul {
      li {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  .contact {
    margin-top: 61px;
    margin-left: 183px;
    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .line {
      width: 173.003px;
      height: 1px;
      background-color: #000;
      margin-bottom: 23px;
    }
    ul {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        li {
          color: #000;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 20px;
          font-weight: 400;
          margin-top: 17px;
          cursor: pointer;
        }
      }
    }
  }
  .icons {
    margin-top: 47px;
    margin-left: 54px;
    a {
      i {
        font-size: 30px;
        color: #000;
        margin-left: 26px;
      }
    }
  }
}
