@use "../../main/index.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
  .container {
    height: 12.936610608020699vh;
    background-color: rgb(249, 234, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }
    input:checked ~ ul {
      display: flex;
      flex-direction: column;
      gap: 7px;
      font-size: 12px;
      @include mobileS {
        padding-top: 290px;
      }
    }
    .bar {
      display: none;
      @include mobileS {
        display: block;
      }
      .fa-solid {
        font-size: 40px;
      }
    }

    img {
      width: 23.125vw;
      height: 12.289780077619664vh;
      gap: 90px;
      @include tablet {
        margin-left: 15px;
        width: 20vw;
        height: 10vh;
      }
      @include mobileL {
        margin-left: 5px;
        width: 30vw;
        height: 9vh;
      }
      @include mobileS {
        width: 200px;
      }
    }
    ul {
      display: flex;
      color: #000;
      font-size: 25px;
      font-weight: 400;
      align-items: center;
      transition: 0.5s;
      #man {
        @include mobileS {
          padding-bottom: 15px;
        }
      }
      @include tablet {
        font-size: 17px;
      }
      @include mobileL {
        font-size: 11px;
        justify-content: space-around;
      }
      @include mobileS {
        height: 99px;
        z-index: -100;
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 12px;
        width: 100%;
        position: absolute;
        background-color: rgb(249, 234, 219);
        justify-content: end;
        align-items: self-end;
        transition: 0.5s;
      }

      .link {
        margin-right: 45px;
        font-family: Kalnia;
        @include tablet {
          margin-right: 20px;
        }
        @include mobileL {
          margin-right: 10px;
        }
        @include mobileS {
          font-size: 25.5px;
        }

        a {
          color: $darkblue;
          text-decoration: none;
          position: relative;
          padding-bottom: 0.75rem;
        }
        a::after {
          content: "";
          position: absolute;
          height: 0.258732212160414vh;
          width: 0px;
          bottom: 0;
          left: 0;
          background-color: $darkblue;
          transition: all 0.3s ease;
        }
        a:hover::after {
          width: 70%;
        }
      }
    }
    i {
      margin-right: 96px;
      font-size: 25px;
      color: $darkblue;
      @include mobileL {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      @include mobileS {
        font-size: 28px;
      }
    }
  }
}


.eastpoint {
  width: 100%;
  height: 79.5601552393273vh;
  background-image: url(photos/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: #fff;
    text-align: center;
    font-family: kalnia;
    font-size: 70px;
    font-weight: 700;
    @include mobileL {
      font-size: 65px;
    }
    @include mobileS {
      font-size: 50px;
    }
  }
}
section {
  .minicontainer {
    display: flex;
    justify-content: space-between;
    margin: 107px 90px 118px 90px;
    @include tablet {
      margin: 107px 30px 118px 45px;
    }
    @include mobileL {
      margin: 60px 15px 100px 15px;
    }
    @include mobileS {
      margin: 60px 10px 60px 10px;
    }
    .left,
    .right {
      h3 {
        color: #000;
        font-family: kalnia;
        font-size: 25px;
        font-weight: 400;
        @include tablet {
          font-size: 21px;
        }
        @include mobileL {
          font-size: 15px;
        }
        @include mobileS {
          font-size: 12px;
        }
      }
    }
  }
  .container {
    margin-left: 83px;
    display: flex;
    margin-bottom: 248px;
    @include tablet {
      margin-left: 25px;
      margin-top: 120px;
      margin-bottom: 100px;
    }
    @include mobileL {
      margin-left: 0px;
      flex-direction: column;
      margin-bottom: 115px;
      align-items: center;
    }
    @include mobileS {
      margin-top: 60px;
      align-items: center;
      flex-direction: column;
      margin-bottom: 115px;
      margin-left: 0;
    }
    .left {
      display: flex;
      flex-direction: column;
      @include mobileL {
        margin-top: -40px;
      }
      @include mobileS {
        margin-top: 0px;
      }
      #bigpic {
        width: 37.4375vw;
        height: 71.79818887451488vh;
        border-radius: 5px;
        @include tablet {
          width: 45.4375vw;
          height: 50.79818887451488vh;
        }
        @include mobileL {
          margin-left: 0;
          width: 330px;
          height: 315px;
          border-radius: 5px;
        }
        @include mobileS {
          margin-left: 0%;
          width: 275px;
          height: 245px;
          border-radius: 5px;
        }
      }
      .bot {
        margin-top: 39px;
        @include mobileS {
          margin-top: 20px;
          margin-left: 0px;
        }
        @include mobileL {
          margin-top: 20px;
          margin-left: 0;
        }

        #smallpic {
          width: 9.3125vw;
          height: 20.439844760672703vh;
          border-radius: 5px;
          @include tablet {
            width: 15.3125vw;
            height: 17.439844760672703vh;
          }
          @include mobileL {
            width: 95px;
            height: 95px;
          }
          @include mobileS {
            width: 95px;
            height: 95px;
          }
        }
        #secondpic {
          width: 9.3125vw;
          height: 20.439844760672703vh;
          border-radius: 5px;
          margin-left: 29px;
          @include tablet {
            width: 15.3125vw;
            height: 17.439844760672703vh;
          }
          @include mobileL {
            width: 95px;
            height: 95px;
          }
          @include mobileS {
            width: 95px;
            height: 95px;
          }
        }
      }
    }
    .right {
      margin-left: 74px;
      @include tablet {
        margin-left: 30px;
      }
      @include mobileL {
        margin-left: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      h2 {
        color: #000;
        font-family: Metal;
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 30px;
        @include tablet {
          margin-bottom: 15px;
        }
        @include mobileL {
          margin-top: 30px;
          margin-left: 0px;
          font-size: 50px;
        }
        @include mobileS {
          margin-top: 35px;
          margin-left: 0px;
          font-size: 40px;
        }
      }
      p {
        width: 42.6875vw;
        height: 28.71927554980595vh;
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 325px;
        line-height: 1.25;
        @include tablet {
          margin-bottom: 270px;
          font-size: 18px;
          width: 45vw;
        }
        @include mobileL {
          font-size: 18px;
          width: 350px;
          margin-left: 0px;
          margin-top: 30px;
          margin-bottom: 280px;
        }
        @include mobileS {
          font-size: 16px;
          width: 300px;
          margin-left: 0;
          margin-top: 30px;
          margin-bottom: 230px;
        }
      }
      .butandfav {
        display: flex;
        align-items: center;
        @include mobileL {
          justify-content: center;
        }
        @include mobileS {
          justify-content: center;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #fff;
          font-family: kalnia;
          font-size: 36px;
          font-weight: 400;
          width: 26.6635625vw;
          height: 9.83182406209573vh;
          border-radius: 20px;
          background: #24253c;
          border: 0;
          cursor: pointer;
          margin-right: 22px;
          @include mobileL {
            width: 57.663563vw;
            margin-left: 0px;
            margin-top: 10px;
          }
          @include mobileS {
            width: 57.663563vw;
            margin-left: 0px;
            margin-top: 10px;
          }
        }
        .heart-checkbox {
          input[type="checkbox"] {
            display: none;
            &:checked {
              + {
                label {
                  &::before {
                    color: #fff;
                    background-color: #ff0000;
                  }
                }
              }
            }
          }
          label {
            display: inline-block;
            cursor: pointer;
            &::before {
              content: "\f004";
              font-family: "Font Awesome 5 Free";
              font-size: 30px;
              color: #24253c;
              cursor: pointer;
              transition: color 0.3s;
              transition: background-color 0.1s;
              padding: 10px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  height: 42.30271668822768vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  @include mobileL {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .left {
    padding-left: 35px;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    @include mobileL {
      padding-left: 0px;
      padding-top: 20px;
      align-items: center;
    }
    img {
      width: 20.1875vw;
      height: 13.454075032341526vh;
      @include mobileL {
        width: 200px;
      }
    }
    a {
      text-decoration: none;
      display: flex;
      color: #000;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-weight: 400;
      margin-top: 17px;
      cursor: pointer;
    }

    .loc {
      display: flex;
      margin-top: 39px;
      i {
        margin-right: 14px;
      }
      h2 {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .help {
    margin-top: 61px;
    margin-left: 278px;
    @include tablet {
      margin-left: 50px;
      padding-left: 0px;
    }
    @include mobileL {
      margin-left: 0px;
      margin-top: 30px;
      align-items: center;
    }

    img {
      width: 20.1875vw;
      height: 14.877102199223803vh;
      margin-top: 10px;
      margin-left: -10px;
      @include tablet {
        width: 200px;
      }
      @include mobileL {
        width: 200px;
      }
    }
    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
      @include mobileL {
        display: flex;
        justify-content: center;
      }
    }
    .helpline {
      width: 10.8126875vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-bottom: 23px;
      @include mobileL {
        margin-left: 73px;
      }
    }
    ul {
      li {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        @include mobileL {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .contact {
    margin-top: 61px;
    margin-left: 140px;
    @include tablet {
      margin-left: 30px;
    }
    @include mobileL {
      margin-left: 0px;
      margin-top: 30px;
      align-items: center;
    }
    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
      @include mobileL {
        display: flex;
        justify-content: center;
      }
    }
    .line {
      width: 10.8126875vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-bottom: 23px;
      @include mobileL {
        display: flex;
        margin-left: 23px;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #000;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-weight: 400;
      margin-top: 17px;
      cursor: pointer;
      @include mobileL {
        display: flex;
        align-items: center;
      }
    }
  }
  .icons {
    margin-top: 47px;
    margin-left: 54px;
    @include tablet {
      margin-left: 20px;
    }
    @include mobileL {
      margin-bottom: 20px;
      margin-left: 0px;
      margin-top: 30px;
      align-items: center;
    }
    a {
      i {
        font-size: 30px;
        color: #000;
        margin-left: 26px;
        @include mobileL {
          margin-left: 11px;
        }
      }
    }
  }
}
