@use "../main/index.scss" as *;
@use "../sign/_mixin.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
  .container {
    height: 12.936610608020699vh;
    background-color: rgb(249, 234, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 23.125vw;
      height: 12.289780077619664vh;
      margin-left: 90px;
    }
    ul {
      display: flex;
      color: #000;
      font-size: 25px;
      font-weight: 400;

      .link {
        margin-right: 45px;
        font-family: Kalnia;
        a {
          color: $darkblue;
          text-decoration: none;
          position: relative;
          padding-bottom: 0.75rem;
        }
        a::after {
          content: "";
          position: absolute;
          height: 0.258732212160414vh;
          width: 0px;
          bottom: 0;
          left: 0;
          background-color: $darkblue;
          transition: all 0.3s ease;
        }
        a:hover::after {
          width: 70%;
        }
      }
    }
    i {
      margin-right: 96px;
      font-size: 25px;
      color: $darkblue;
    }
  }
}
.Restaurants {
  padding-top: 100px;
  width: 100%;
  height: 79.5601552393273vh;
  background-image: url(photos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  h2 {
    color: #fff;
    text-align: center;
    font-family: kalnia;
    font-size: 70px;
    font-weight: 700;
    padding-top: 193px;
  }
}
section {
  .textline {
    @include flex;
    .rightline {
      width: 15.8125vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-left: 13px;
    }
    .leftline {
      width: 15.8125vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-right: 13px;
    }
    h2 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 36px;
      margin-top: 98px;
      font-weight: 400;
      margin-bottom: 102px;
    }
  }
  .top {
    display: flex;
    justify-content: center;
    gap: 45px;
    img {
      width: 20.25vw;
      height: 41.91461836998706vh;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 48px;
    }
    a {
      text-decoration: none;
      border-radius: 20px;
      background-color: #24253c;
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20.25vw;
      height: 8.796895213454075vh;
      p {
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .middle {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 190px;
    img {
      width: 20.25vw;
      height: 41.91461836998706vh;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 48px;
    }

    a {
      text-decoration: none;
      border-radius: 20px;
      background-color: #24253c;
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20.25vw;
      height: 8.796895213454075vh;
      p {
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 190px;
    img {
      width: 20.25vw;
      height: 41.91461836998706vh;
    }
    h3 {
      display: flex;
      justify-content: center;
      color: #000;
      font-family: kalnia;
      font-size: 29px;
      font-weight: 400;
      margin-top: 34px;
      margin-bottom: 48px;
      width: 20.25vw;
      text-align: center;
    }
    a {
      text-decoration: none;
      border-radius: 20px;
      background-color: #24253c;
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20.25vw;
      height: 8.796895213454075vh;
      p {
        color: #fff;
        font-family: kalnia;
        font-size: 30px;
        font-weight: 400;
      }
    }
    #mtop {
      margin-bottom: 78px;
    }
  }

  .cube {
    display: flex;
    justify-content: center;
    margin-top: 134px;
    gap: 8px;
    margin-bottom: 190px;
    .cube1 {
      width: 2.5vw;
      height: 5.174644243208279vh;
      background-color: #d9d9d9;
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .cube2 {
      width: 2.5vw;
      height: 5.174644243208279vh;
      background: rgba(217, 217, 217, 0.5);
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .cube3 {
      width: 2.5vw;
      height: 5.174644243208279vh;
      background: rgba(217, 217, 217, 0.5);
      @include flex;
      color: #000;
      font-family: kalnia;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
footer {
  width: 100%;
  height: 42.30271668822768vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  .left {
    padding-left: 35px;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    img {
      width: 20.1875vw;
      height: 13.454075032341526vh;
    }
    a {
      text-decoration: none;
      display: flex;
      color: #000;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-weight: 400;
      margin-top: 17px;
      cursor: pointer;
    }

    .loc {
      display: flex;
      margin-top: 39px;
      i {
        margin-right: 14px;
      }
      h2 {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .help {
    margin-top: 61px;
    margin-left: 278px;
    img {
      width: 20.1875vw;
      height: 14.877102199223803vh;
      margin-top: 10px;
      margin-left: -10px;
    }
    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .helpline {
      width: 10.8126875vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-bottom: 23px;
    }
    ul {
      li {
        color: #000;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  .contact {
    margin-top: 61px;
    margin-left: 140px;
    h2 {
      color: #000;
      font-family: Kaushan Script;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .line {
      width: 10.8126875vw;
      height: 0.129366106080207vh;
      background-color: #000;
      margin-bottom: 23px;
    }
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #000;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-weight: 400;
      margin-top: 17px;
      cursor: pointer;
    }
  }
  .icons {
    margin-top: 47px;
    margin-left: 54px;
    a {
      i {
        font-size: 30px;
        color: #000;
        margin-left: 26px;
      }
    }
  }
}
