@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Noto+Serif+Georgian:wght@500;600;700;800&family=Outfit&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 234, 219);
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
header {
  position: fixed;
  width: 100%;
}
header .container {
  height: 12.936610608vh;
  background-color: rgb(249, 234, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container input[type=checkbox] {
  display: none;
}
header .container input:checked ~ ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 12px;
}
@media (width <= 380px) {
  header .container input:checked ~ ul {
    padding-top: 367px;
  }
}
header .container .bar {
  display: none;
}
@media (width <= 380px) {
  header .container .bar {
    display: block;
  }
}
header .container .bar .fa-solid {
  font-size: 40px;
}
header .container img {
  width: 23.125vw;
  height: 12.2897800776vh;
  gap: 90px;
}
@media (width <= 768px) {
  header .container img {
    margin-left: 15px;
    width: 20vw;
    height: 10vh;
  }
}
@media (width <= 425px) {
  header .container img {
    margin-left: 5px;
    width: 30vw;
    height: 9vh;
  }
}
@media (width <= 380px) {
  header .container img {
    width: 200px;
  }
}
header .container ul {
  display: flex;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  align-items: center;
  transition: 0.7s;
}
@media (width <= 380px) {
  header .container ul #man {
    padding-bottom: 15px;
  }
}
@media (width <= 768px) {
  header .container ul {
    font-size: 17px;
  }
}
@media (width <= 425px) {
  header .container ul {
    font-size: 11px;
    justify-content: space-around;
  }
}
@media (width <= 380px) {
  header .container ul {
    height: 99px;
    z-index: -100;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 12px;
    width: 100%;
    position: absolute;
    background-color: rgb(249, 234, 219);
    justify-content: end;
    align-items: self-end;
    transition: 0.5s;
  }
}
header .container ul .link {
  margin-right: 45px;
  font-family: Kalnia;
}
@media (width <= 768px) {
  header .container ul .link {
    margin-right: 20px;
  }
}
@media (width <= 425px) {
  header .container ul .link {
    margin-right: 10px;
  }
}
@media (width <= 380px) {
  header .container ul .link {
    font-size: 25.5px;
  }
}
header .container ul .link a {
  color: rgba(11, 37, 56, 0.8);
  text-decoration: none;
  position: relative;
  padding-bottom: 0.75rem;
}
header .container ul .link a::after {
  content: "";
  position: absolute;
  height: 0.2587322122vh;
  width: 0px;
  bottom: 0;
  left: 0;
  background-color: rgba(11, 37, 56, 0.8);
  transition: all 0.3s ease;
}
header .container ul .link a:hover::after {
  width: 70%;
}
header .container i {
  margin-right: 96px;
  font-size: 25px;
  color: rgba(11, 37, 56, 0.8);
}
@media (width <= 425px) {
  header .container i {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (width <= 380px) {
  header .container i {
    font-size: 28px;
  }
}

.Historicalplaces {
  width: 100%;
  height: 79.5601552393vh;
  background-image: url(photos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Historicalplaces h2 {
  color: #fff;
  text-align: center;
  font-family: kalnia;
  font-size: 70px;
  font-weight: 700;
}
@media (width <= 380px) {
  .Historicalplaces h2 {
    font-size: 57px;
  }
}

section .textline {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .textline .rightline {
  width: 15.8125vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-left: 13px;
}
section .textline .leftline {
  width: 15.8125vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-right: 13px;
}
section .textline h2 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 36px;
  margin-top: 98px;
  font-weight: 400;
  margin-bottom: 102px;
}
@media (width <= 425px) {
  section .textline h2 {
    font-size: 29px;
  }
}
@media (width <= 380px) {
  section .textline h2 {
    font-size: 21px;
  }
}
section .top {
  display: flex;
  justify-content: center;
  gap: 45px;
}
@media (width <= 768px) {
  section .top {
    flex-direction: column;
    align-items: center;
  }
}
section .top img {
  width: 20.25vw;
  height: 41.91461837vh;
}
@media (width <= 768px) {
  section .top img {
    width: 37vw;
    align-items: center;
  }
}
@media (width <= 425px) {
  section .top img {
    width: 69vw;
  }
}
@media (width <= 380px) {
  section .top img {
    width: 90vw;
  }
}
section .top h3 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 29px;
  font-weight: 400;
  margin-top: 34px;
  margin-bottom: 48px;
}
section .top a {
  text-decoration: none;
  border-radius: 20px;
  background-color: #24253c;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.25vw;
  height: 8.7968952135vh;
}
@media (width <= 768px) {
  section .top a {
    margin-left: 22%;
  }
}
@media (width <= 425px) {
  section .top a {
    width: 38.5vw;
  }
}
@media (width <= 380px) {
  section .top a {
    width: 55vw;
    margin-left: 20%;
  }
}
section .top a p {
  color: #fff;
  font-family: kalnia;
  font-size: 30px;
  font-weight: 400;
}
section .middle {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 190px;
}
@media (width <= 768px) {
  section .middle {
    flex-direction: column;
    align-items: center;
  }
}
section .middle img {
  width: 20.25vw;
  height: 41.91461837vh;
}
@media (width <= 768px) {
  section .middle img {
    width: 37vw;
    align-items: center;
  }
}
@media (width <= 425px) {
  section .middle img {
    width: 69vw;
  }
}
@media (width <= 380px) {
  section .middle img {
    width: 90vw;
  }
}
section .middle h3 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 29px;
  font-weight: 400;
  margin-top: 34px;
  margin-bottom: 48px;
}
section .middle a {
  text-decoration: none;
  border-radius: 20px;
  background-color: #24253c;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.25vw;
  height: 8.7968952135vh;
}
@media (width <= 768px) {
  section .middle a {
    margin-left: 22%;
  }
}
@media (width <= 425px) {
  section .middle a {
    width: 38.5vw;
  }
}
@media (width <= 380px) {
  section .middle a {
    width: 55vw;
    margin-left: 20%;
  }
}
section .middle a p {
  color: #fff;
  font-family: kalnia;
  font-size: 30px;
  font-weight: 400;
}
section .bottom {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 190px;
}
@media (width <= 768px) {
  section .bottom {
    flex-direction: column;
    align-items: center;
  }
}
section .bottom img {
  width: 20.25vw;
  height: 41.91461837vh;
}
@media (width <= 768px) {
  section .bottom img {
    width: 37vw;
    align-items: center;
  }
}
@media (width <= 425px) {
  section .bottom img {
    width: 69vw;
  }
}
@media (width <= 380px) {
  section .bottom img {
    width: 90vw;
  }
}
section .bottom h3 {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: kalnia;
  font-size: 29px;
  font-weight: 400;
  margin-top: 34px;
  margin-bottom: 48px;
  width: 20.25vw;
  text-align: center;
}
@media (width <= 768px) {
  section .bottom h3 {
    margin-left: 22%;
    text-align-last: center;
    text-align: center;
  }
}
@media (width <= 425px) {
  section .bottom h3 {
    margin-left: 35%;
  }
}
@media (width <= 380px) {
  section .bottom h3 {
    margin-left: 38%;
  }
}
section .bottom a {
  text-decoration: none;
  border-radius: 20px;
  background-color: #24253c;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.25vw;
  height: 8.7968952135vh;
}
@media (width <= 768px) {
  section .bottom a {
    margin-left: 22%;
  }
}
@media (width <= 425px) {
  section .bottom a {
    width: 38.5vw;
  }
}
@media (width <= 380px) {
  section .bottom a {
    width: 55vw;
    margin-left: 19%;
  }
}
section .bottom a p {
  color: #fff;
  font-family: kalnia;
  font-size: 30px;
  font-weight: 400;
}
section .bottom #mtop {
  margin-bottom: 78px;
}
section .cube {
  display: flex;
  justify-content: center;
  margin-top: 134px;
  gap: 8px;
  margin-bottom: 190px;
}
section .cube .cube1 {
  width: 2.5vw;
  height: 5.1746442432vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: kalnia;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (width <= 768px) {
  section .cube .cube1 {
    width: 4.5vw;
  }
}
@media (width <= 425px) {
  section .cube .cube1 {
    width: 8.5vw;
  }
}
@media (width <= 380px) {
  section .cube .cube1 {
    width: 11.5vw;
  }
}
section .cube .cube2 {
  width: 2.5vw;
  height: 5.1746442432vh;
  background: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: kalnia;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (width <= 768px) {
  section .cube .cube2 {
    width: 4.5vw;
  }
}
@media (width <= 425px) {
  section .cube .cube2 {
    width: 8.5vw;
  }
}
@media (width <= 380px) {
  section .cube .cube2 {
    width: 11.5vw;
  }
}
section .cube .cube3 {
  width: 2.5vw;
  height: 5.1746442432vh;
  background: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: kalnia;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (width <= 768px) {
  section .cube .cube3 {
    width: 4.5vw;
  }
}
@media (width <= 425px) {
  section .cube .cube3 {
    width: 8.5vw;
  }
}
@media (width <= 380px) {
  section .cube .cube3 {
    width: 11.5vw;
  }
}

footer {
  width: 100%;
  height: 42.3027166882vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
}
@media (width <= 425px) {
  footer {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
footer .left {
  padding-left: 35px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
}
@media (width <= 425px) {
  footer .left {
    padding-left: 0px;
    padding-top: 20px;
    align-items: center;
  }
}
footer .left img {
  width: 20.1875vw;
  height: 13.4540750323vh;
}
@media (width <= 425px) {
  footer .left img {
    width: 200px;
  }
}
footer .left a {
  text-decoration: none;
  display: flex;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
footer .left .loc {
  display: flex;
  margin-top: 39px;
}
footer .left .loc i {
  margin-right: 14px;
}
footer .left .loc h2 {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
}
footer .help {
  margin-top: 61px;
  margin-left: 278px;
}
@media (width <= 768px) {
  footer .help {
    margin-left: 50px;
    padding-left: 0px;
  }
}
@media (width <= 425px) {
  footer .help {
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .help img {
  width: 20.1875vw;
  height: 14.8771021992vh;
  margin-top: 10px;
  margin-left: -10px;
}
@media (width <= 768px) {
  footer .help img {
    width: 200px;
  }
}
@media (width <= 425px) {
  footer .help img {
    width: 200px;
  }
}
footer .help h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (width <= 425px) {
  footer .help h2 {
    display: flex;
    justify-content: center;
  }
}
footer .help .helpline {
  width: 10.8126875vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-bottom: 23px;
}
@media (width <= 425px) {
  footer .help .helpline {
    margin-left: 73px;
  }
}
footer .help ul li {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (width <= 425px) {
  footer .help ul li {
    display: flex;
    justify-content: center;
  }
}
footer .contact {
  margin-top: 61px;
  margin-left: 140px;
}
@media (width <= 768px) {
  footer .contact {
    margin-left: 30px;
  }
}
@media (width <= 425px) {
  footer .contact {
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .contact h2 {
  color: #000;
  font-family: Kaushan Script;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (width <= 425px) {
  footer .contact h2 {
    display: flex;
    justify-content: center;
  }
}
footer .contact .line {
  width: 10.8126875vw;
  height: 0.1293661061vh;
  background-color: #000;
  margin-bottom: 23px;
}
@media (width <= 425px) {
  footer .contact .line {
    display: flex;
    margin-left: 23px;
  }
}
footer .contact a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
  cursor: pointer;
}
@media (width <= 425px) {
  footer .contact a {
    display: flex;
    align-items: center;
  }
}
footer .icons {
  margin-top: 47px;
  margin-left: 54px;
}
@media (width <= 768px) {
  footer .icons {
    margin-left: 20px;
  }
}
@media (width <= 425px) {
  footer .icons {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 30px;
    align-items: center;
  }
}
footer .icons a i {
  font-size: 30px;
  color: #000;
  margin-left: 26px;
}
@media (width <= 425px) {
  footer .icons a i {
    margin-left: 11px;
  }
}

/*# sourceMappingURL=Historicalplaces.css.map */
